<div class="game-board">
    @if (newGame) {
        <h2 class="game-board__message">Podaj imiona graczy i wylosuj kolejność!</h2> 
    } @else {
        <h2 class="game-board__message">Kolejny ruch : {{getPlayerName}}</h2>
    }
    
    <div class="game-board__main" >
        @if (winner || this.counter === 9) {
            <div class="game-board__finished">
                <div class="game-board__loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        }
        
        <app-square *ngFor="let val of square; let i=index" [value]="val" (click)="makeMove(i)"></app-square>
    </div>
</div>