@import '../../../colors';

.players-inputs {

  margin: auto;
  max-width: 400px;
  padding: 0 30px;
  text-align: left;
 

  &__label {
    min-width: 130px;
    display: inline-block;
  }

  &__input {
    margin: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid $primary-color;
    color: $secondary-color;
    font-size: 18px;

    &:focus {
      outline: none;
    }
  }

}
