@import './colors.scss';
@import './fonts.scss';

*{
    margin: 0;
    padding: 0;
}
body {
    background: $background-color;
    font-family: 'Poppins', sans-serif;
    color: $secondary-color;

    .button {
        display: block;
        padding: 15px 30px;
        font-size: 18px; 
        border-radius: 10px;
        background-color:$primary-color; 
        color: $secondary-color; 
        transition: 0.3s;
        margin: 20px auto;

        &:disabled {
            background-color: $grey-color;
            cursor: not-allowed;
        } 

        &:hover:enabled {
            background-color: $tertiary-color;
        }
      }
}